<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理</title>

    <!-- Bootstrap -->
    <link href="../lib/bootstrap-3.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/boot.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body >
      
      <!-- 导航栏 -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">后台管理系统</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">用户管理<span class="sr-only">(current)</span></a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">登录</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <!-- 导航栏 -->

      <!-- 导航 -->
      <div class="agn">
        <a class="btn btn-danger" id="userList" role="button">用户列表</a>
        <button class="btn btn-default" id="addUser" type="submit">新增用户</button>
        <div class="rota"></div>
      </div>
      <!-- 导航 -->
      
      <!-- 表格 -->
      <div class="container bor">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>学历</th>
                <th>电话</th>
                <th>地址</th>
                <th>爱好</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody id="tbody">
              
            </tbody>
          </table>
      </div>
      <!-- 表格 -->
      <!-- 表单 -->
      <div class="form container">
          <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">姓名：</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" >年龄：</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="age">
            </div>
          </div>
          <div class="form-group">
          <label class="col-sm-2 control-label">性别：</label>
          <div class="col-sm-10">
            <label class="radio-inline">
              <input type="radio" name="gender" id="" checked value="男"> 男
            </label>
            <label class="radio-inline">
              <input type="radio" name="gender" id="" value="女"> 女
            </label>
          </div>      
        </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">学历：</label>
            <div class="col-sm-5">
              <select id="edu" class="form-control">
                <option value="0">请选择</option>
                <option value="1">专科</option>
                <option value="2">本科</option>
                <option value="3">硕士</option>
                <option value="4">博士</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">电话：</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="mobile">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">地址：</label>
            <div class="col-sm-8">
              <textarea name="address" id="address" cols="40" rows="3"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">爱好：</label>
            <div class="col-sm-8">
              <label class="checkbox-inline">
                <input type="checkbox" name="hobbies" value="旅游"> 旅游
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" name="hobbies" value="上网"> 上网
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" name="hobbies" value="冲浪"> 冲浪
              </label>
            </div>
          </div>
            
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
              <button id="submitBtn" type="button" class="btn btn-default">提交</button>
            </div>
          </div>
        </form>
      </div>
      <!-- 表单 -->

      <!-- 弹出框 -->
       <div id="myDlg" class="modal fade bs-example-modal-sm" data-backdrop="false">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-body">
                保存成功！
              </div>
          </div>
        </div>
      </div>
      <!-- 弹出框 -->
  
      <div id="myrem" class="modal fade bs-example-modal-sm" data-backdrop="false">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-body">
                删除成功
              </div>
          </div>
        </div>
      </div>
      <!-- 弹出框 -->
    



      <script id="scriptId" type="text/tmplate">
        <tr>
          <td><%= name %></td>
          <td><%= age %></td>
          <td><%= gender %></td>
          <td><%= edu %></td>
          <td><%= mobile %></td>
          <td><%= address %></td>
          <td><%= hobbies %></td>
          <td>
            <button class="rem btn-danger" uid="<%= id %>">删除</button>
          </td>
        </tr>
      </script>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../lib/jquery-1.12.3.js"></script>
    <script src="../lib/underscore-min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../lib/bootstrap-3.3.5/dist/js/bootstrap.min.js"></script>
    <script src="js/boot.js"></script>
    <script src="js/boottow.js"></script>
    <script src="js/bottverify.js"></script>
  </body>
</html>